.Create_createContainer{
    position: relative;
    display: flex;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #fdf9f9;
    box-shadow: 3px 3px 7px rgb(20 20 20 / 80%); 
    background-color:rgb(216, 80, 1);
    border-radius: 5px;
    left: 348px;
    bottom: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.Create_Form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    padding: 2px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #fdf9f9;
    background-color: rgb(216, 80, 1);
    bottom: 10px;
    left: 180px;
    width: 500px;
}

.Create_Form textarea{
    resize: none;
    height: 120px;
}

.Create_SubmitForm{
    position: relative;
    left: 240px;
    padding-bottom: 10px;
}
