.CreateBackground{
    background-image: url(../../img/fondo\ comida.jpg);
    background-repeat: repeat;
}

.createContainer{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Fredoka One', sans-serif;
    color: #fdf9f9;
    box-shadow: 3px 3px 7px rgb(20 20 20 / 80%); 
    background-color: #e92214;
    border-radius: 5px;
    background-color: rgb(204, 18, 18);
    left: 420px;
    bottom: 10px;
}

.Form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    padding: 2px;
    padding-bottom: 20px;
    font-family: 'Fredoka One', sans-serif;
    color: #fdf9f9;
    background-color: rgb(204, 18, 18);
    bottom: 10px;
    left: 180px;
    width: 500px;
}

.Form textarea{
    resize: none;
    height: 120px;
}

.SubmitForm{
    position: relative;
    left: 240px;
    padding-bottom: 10px;
}
