.Details_Container {
    background-image: url(../../img/fondo\ comida.jpg);
    background-repeat: repeat;
    display: inline-block;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    flex-wrap: wrap;   
 
}

.Details_CardDetails{
    text-decoration: none;
    margin-top: 2px;
    text-decoration: none;
}