.Details_Container {
    background-image: url(../../img/fondo\ comida.jpg);
    background-repeat: repeat;
    display: inline-block;
  
 
}

.Card_Details{
    text-decoration: none;
    margin-top: 2px;
    text-decoration: none;
}