.Home {
    background-image: url(../../img/Fondo\ Home.jpg);
    background-repeat: repeat;
 
}

.RecipesHome{
    margin-top: 1.5;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FilterComponents{
    margin-left: 20px;
}
