.Home {
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    flex-wrap: wrap;     
}

.RecipesHome{
    margin-top: 1.5;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    flex-wrap: wrap;   
}


