.Filter_FilterContainer{
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 5px solid rgb(182, 16, 16);
  
}

.Filter_FilterContainer select{
   margin: 40rem;
}

